body{
  height   : 100%;
  overflow : hidden;
}

* {
  padding     : 0px;
  margin      : 0px;
  font-family : 'Muli', sans-serif;
}

.App {
  text-align : center;
  width      : 100%;
  height     : 100%;
  position   : absolute;
  /*display    : flex;*/
  /*flex-wrap  : nowrap;*/
}

.parentContent{
  width              : 100%;
  height             : 100%;
  -webkit-transition : all 1s ease;
  -moz-transition    : 1s ease;
  transition         : 1s ease;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
